{% extends "layout.html" %}
{% block body %}
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			{% for key, val in d.items() %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ val }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th>Variation Viewer</th>
			</tr>
		</thead>
		<tbody>
			{% for pub in pubs %}
				<tr>
					<td><a href="{{pub}}">Link<a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if assoc != [] %}
		<table class="ui selectable celled table">
			<thead>
				<tr>
					{% for key, val in assoc[0].items() %}
						<th>{{ key }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for disease in assoc %}
					<tr>
						{% for key, val in disease.items() %}
							<td>{{ val }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='semantic.min.js') }}"></script>
{% endblock %}