{% extends "layout.html" %}
{% block body %}
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th class="twelve wide">Title</th>
				<th class="four wide">Link</th>
			</tr>
		</thead>
		<tbody>
			{% for pub in pubs %}
				<tr>
					<td>{{pub.title}}</td>
					<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pub.id}}?dopt=Abstract">PMID {{pub.id}}<a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='semantic.min.js') }}"></script>
{% endblock %}