{% extends "layout.html" %}
{% block body %}
	{% if canFilter %}
		<div id="filterDiv" class="ui segment two column very relaxed grid center aligned" style="display: none">
			<div class="column">
		  		<select id="selectFilterName" class="ui search dropdown">
					<option value="">Filter By Level Name</option>
					<option value="all_levels">All Levels</option>
				  	<option value="chromosome_number_variation">chromosome_number_variation</option>
					<option value="exon_loss_variant">exon_loss_variant</option>
					<option value="frameshift_variant">frameshift_variant</option>
					<option value="stop_gained">stop_gained</option>
					<option value="stop_lost">stop_lost</option>
					<option value="start_lost">start_lost</option>
					<option value="splice_acceptor_variant">splice_acceptor_variant</option>
					<option value="splice_donor_variant">splice_donor_variant</option>
					<option value="rare_amino_acid_variant">rare_amino_acid_variant</option>
					<option value="missense_variant">missense_variant</option>
					<option value="inframe_insertion">inframe_insertion</option>
					<option value="disruptive_inframe_insertion">disruptive_inframe_insertion</option>
					<option value="inframe_deletion">inframe_deletion</option>
					<option value="disruptive_inframe_deletion">disruptive_inframe_deletion</option>
					<option value="5_prime_UTR_truncation+exon_loss_variant">5_prime_UTR_truncation+exon_loss_variant</option>
					<option value="3_prime_UTR_truncation+exon_loss">3_prime_UTR_truncation+exon_loss</option>
					<option value="splice_branch_variant">splice_branch_variant</option>
					<option value="splice_region_variant">splice_region_variant</option>
					<option value="splice_branch_variant">splice_branch_variant</option>
					<option value="stop_retained_variant">stop_retained_variant</option>
					<option value="initiator_codon_variant">initiator_codon_variant</option>
					<option value="synonymous_variant">synonymous_variant</option>
					<option value="initiator_codon_variant+non_canonical_start_codon">initiator_codon_variant+non_canonical_start_codon</option>
					<option value="stop_retained_variant">stop_retained_variant</option>
					<option value="coding_sequence_variant">coding_sequence_variant</option>
					<option value="5_prime_UTR_variant">5_prime_UTR_variant</option>
					<option value="3_prime_UTR_variant">3_prime_UTR_variant</option>
					<option value="5_prime_UTR_premature_start_codon_gain_variant">5_prime_UTR_premature_start_codon_gain_variant</option>
					<option value="upstream_gene_variant">upstream_gene_variant</option>
					<option value="downstream_gene_variant">downstream_gene_variant</option>
					<option value="TF_binding_site_variant">TF_binding_site_variant</option>
					<option value="regulatory_region_variant">regulatory_region_variant</option>
					<option value="miRNA">miRNA</option>
					<option value="custom">custom</option>
					<option value="sequence_feature">sequence_feature</option>
					<option value="conserved_intron_variant">conserved_intron_variant</option>
					<option value="intron_variant">intron_variant</option>
					<option value="intragenic_variant">intragenic_variant</option>
					<option value="conserved_intergenic_variant">conserved_intergenic_variant</option>
					<option value="intergenic_region">intergenic_region</option>
					<option value="coding_sequence_variant">coding_sequence_variant</option>
					<option value="non_coding_transcript_exon_variant">non_coding_transcript_exon_variant</option>
					<option value="nc_transcript_variant">nc_transcript_variant</option>
					<option value="gene_variant">gene_variant</option>
					<option value="chromosome">chromosome</option>
				</select>
			</div>
			<div class="ui vertical divider">
			    Or
			</div>
			<div class="column">
		  		<select id="selectFilterNum" class="ui search dropdown">
		  			<option value="">Filter By Level</option>
		  			<option value="none">None</option>
		  			{% for mag in range(45) %}
				  		<option value="{{ mag }}">{{ mag }}</option>
				  	{% endfor %}
				</select>
			</div>
		</div>
	{% endif %}
	
	<table class="ui selectable celled table sortable">
		<thead>
			<tr>
				<th>RsId</th>
				<th>Chromosome #</th>
				<th>Summary</th>
				<!--<th>#CHROM</th>
				<th>POS</th>
				<th>ID</th>
				<th>REF</th>
				<th>ALT</th>
				<th>QUAL</th>
				<th>FILTER</th>
				<th>INFO</th>
				<th>FORMAT</th>-->
			</tr>
		</thead>
		<tbody>
			{% for rsid in rsids %}
				<tr>
					<td><a href="{{ url_for('getPubs', rsid=rsid[0]) }}">{{ rsid[0] }}</a></td>
					<td>{{ rsid[1] }}</td>
					<td>{{ rsid[2] }}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th colspan="9">
					<div class="ui right floated pagination menu">
						
						{% if canPrev %}
							<a href=" {{ url_for('uploaded_file', filename=filename, index=index-1) }}" class="icon item">
								<i class="left chevron icon"></i>
							</a>
							{% if canPrev2 %}
								<a href=" {{ url_for('uploaded_file', filename=filename, index=index-2) }}" class="item">{{ index-1 }}</a>
							{% endif %}
							<a href=" {{ url_for('uploaded_file', filename=filename, index=index-1) }}" class="item">{{ index }}</a>
						{% endif %}
						<a class="item active">{{ index+1 }}</a>
						{% if canNext %}
							<a href=" {{ url_for('uploaded_file', filename=filename, index=index+1) }}" class="item">{{ index+2 }}</a>
							{% if canNext2 %}
								<a href=" {{ url_for('uploaded_file', filename=filename, index=index+2) }}" class="item">{{ index+3 }}</a>
							{% endif %}
							<a href=" {{ url_for('uploaded_file', filename=filename, index=index+1) }}" class="icon item">
								<i class="right chevron icon"></i>
							</a>
						{% endif %}
					</div>
				</th>
			</tr>
		</tfoot>
	</table>
<script type="text/javascript">
	$(document).ready(function(){
		$(".dropdown").dropdown()
		$("#filterDiv").show()
		$('table').tablesort()
	})
	$("select").on("change", function(){
		$('table').dimmer('show');
		if($(this).attr("id") == "selectFilterName"){
			window.location.href = "{{url_for('uploaded_file_levelName', filename=filename,index=0,check_keyword='CHECK_KEYWORD')}}".replace('CHECK_KEYWORD',$(this)[0].value)
		} else if ($(this).attr("id") == "selectFilterNum"){
			console.log("Checking filter num")
			window.location.href = "{{url_for('uploaded_file_levelNum', filename=filename,index=0,order_level='ORDER_NUM')}}".replace('ORDER_NUM',$(this)[0].value)
		}
	})
</script>
{% endblock %}